
<div class="card table-responsive-xl">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Flag</th>
                <th class="c_name">Name</th>
                <th>Currency</th>
                <th>Currency Name</th>
                <th>Call Code</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; let i = index">
                <td>{{ i+1 }}</td>
                <td><img [src]="country?.flagUrl" [alt]="country?.alpha3Code"></td>
                <td>{{ country?.name }}</td>
                <td>{{ country?.currencyCode }} ({{country?.currencySymbol}})</td>
                <td>{{ country?.currencyName }}</td>
                <td>{{ country?.callingCode }}</td>
            </tr>
        </tbody>
    </table>
</div>